*{
  font-family: sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
}

header img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  padding: 3%;
}

nav{
  max-width: 100%;
  background-color: green;
  padding: 2%;
  text-align: center;
}

nav ul li{
  display: inline;
  padding: 2%;
}

button{
  width: 20%;
  padding: 2% 1% 2% 1%;
  position: absolute;
  left: 10%;
  top: 75%;
}

#banner{
margin-top: .5%;
align-items: center;
position: relative;
}

#banner img{
  width: 100%;
}
