*{
  font-family: sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
}

header img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  padding: 1.8%;
}

header{
  background-color: lightyellow;
}

nav{
  max-width: 100%;
  padding: 0%;
  text-align: center;
}

#topnav {
  display: none;
}

#topnav li {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  list-style-type: none;
}

#topnav-label {
  margin: 0;
  padding: 15px 0;
  font-size: 18px;
  background-color: darkgreen;
}

a:link{
  text-decoration: none;
  color: white;
}

a:visited{
  color: white;
}

.condensed{
  display: none;
}

.show {
    display: block;
}

.visitmenu {
  margin-top: 4%;
  padding-left: 0;
  background-color: lightgray;
}

.menudrop{
  /* position: relative; */
  width: 100%;
}

.visitmenu li {
  display: block;
  width: 100%;
  padding: 5%;
  border: 2px solid white;
  box-sizing: border-box;
}

nav ul li{
  display: inline-block;
  padding: 2%;
}

/*hamburger*/

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: lightblue;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 3% 3%;
  text-decoration: none;
  font-size: 1em;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: lightyellow;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: darkgreen;
  color: white;
}





#banner button{
  width: 25%;
  padding: 1.5% .7% 1.5% .7%;
  position: absolute;
  left: 8%;
  top: 70%;
  font-size: 1em;
  background-color: lightblue;
}

#banner h2{
  font-size: 1.8em;
  width: 40%;
  position: absolute;
  left: 8%;
  top: 13%;
}

#banner h4{
  font-size: .8em;
  width: 40%;
  position: absolute;
  left: 8%;
  top: 30%;
}

#banner p{
  font-size: .4em;
  width: 40%;
  position: absolute;
  left: 8%;
  top: 48%;
}

#banner{
padding-top: 1%;
margin: 0 auto;
width: 92%;
position: relative;
}

#banner img{
  width: 100%;
  max-height: 10%;
}



/*img grid Home*/

#grid{
  display: flex;
  flex-wrap: wrap;
  padding: 1% 4% 4% 4%;
  flex-direction: row;
}

#griditem{
  width: 25%;
}

#griditem1{
  width:50%;
}

#grid img{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

/*learn section Home*/

#learn h2 {
  max-width: 100%;
  padding: 0% 4% 2% 2%;
}

#learn{
  padding: 2%;
}

#learngrid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#learngriditem{
  width: 20%;
  padding: 2%;
}

#learngriditem img{
  max-width: 100%;
}

#learngrid button{
  width:  100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  padding: 1%;

}

#ourstory{
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#ourstory article{
  width: 48%;
  padding: 0% 0% 5% 0%;
}

#ourstory h2{
  padding-bottom: 1%;
  padding-left: 4%;
  font-size: 1.5em;
}

#ourstory p{
  padding-left: 4%;
  padding-bottom: 1.5%;
  font-size: .5em;
}

#ourstory img{
  max-width: 100%;
  padding-right: 15%;
}

#yt{
  display: flex;
  max-width: 100%;
  justify-content: space-around;

}

#yt div{
  max-width: 100%;
}

iframe{
  width: 185px;
  height: 225px;
}

/*footer*/
#footernav{
  font-weight: bold;
  background-color: lightblue;
  padding: 3%;
}

footer{
  margin-bottom: 0;
}


/*about page*/
#abtgrid{
  padding: 2% 4.3% 0 4.2%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#abtimggrid{
  padding: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 70%;
  margin: 0 auto;

}


#abtgriditem{
  width: 28%;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

#abtgriditem img{
  max-width: 100%;
}


#abtgrid article{
  width: 100%;
  padding: 0% 0% 5% 0%;
  align-items: flex-end;
}

#abtgrid h2{
  padding-bottom: 2.5%;
  font-size: 1.9em;
}

#abtgrid p{
  font-size: .7em;
  padding-bottom: 1.5%;
}

#abtgrid img{
  max-width: 100%;
}

#gridbutton{
  width:  100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  padding: 1%;

}

/* visit stuff */

#btngrpitem img{
  max-width: 100%;
}

#btngrpitem {
  max-width: 20%;
  display: flex;
  flex-direction: column;
}


button {
  margin-top: 2%;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
}


.btn-group {
  margin-top: 3%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.open-modal {
  font-weight: bold;
  background: lightblue;
  color: white;
  padding: 0.75rem 1.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

#btngrpitem{
  padding: 1.5%;
}

/* MODAL
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal {
  position: fixed;
  top: 13%;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: black;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  max-height: 80vh;
  border-radius: 5px;
  background: white;
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header,
.modal-footer {
  background: lightgray;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .close-modal {
  font-size: 1.5rem;
}

.modal p + p {
  margin-top: 1rem;
}

/***** media queries******/

@media (max-width: 450px) {

  #banner button{
    width: 25%;
    padding: 1% .5% 1% .5%;
    position: absolute;
    left: 8%;
    top: 70%;
    font-size: .7em;
    background-color: lightblue;
  }

  #banner h2{
    font-size: 1.4em;
    width: 40%;
    position: absolute;
    left: 8%;
    top: 9%;
  }

  #banner h4{
    font-size: .6em;
    width: 40%;
    position: absolute;
    left: 8%;
    top: 27%;
  }

  #banner p{
    font-size: .3em;
    width: 40%;
    position: absolute;
    left: 8%;
    top: 43%;
  }
}

@media (min-width: 750px) {

  .topnav{
    display: none;
  }

  #topnav {
    display: flex;
  }

  #banner h2{
    font-size: 3.6em;
    width: 40%;
    position: absolute;
    left: 8%;
    top: 10%;
  }

  #banner h4{
    font-size: 1.1em;
    width: 40%;
    position: absolute;
    left: 8%;
    top: 33%;
  }

  #ourstory h2{
    padding-bottom: 1%;
    font-size: 1.8em;
  }

  #ourstory p{
    font-size: .67em;
  }

  iframe{
    width: 285px;
    height: 225px;
  }

  #abtgrid{
    padding: 2% 4.3% 0 4.2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #abtgrid article{
    width: 50%;
    padding: 0% 0% 5% 0%;
    align-items: flex-end;
  }

  #abtgrid h2{
    padding-bottom: 2.5%;
    font-size: 1.9em;
  }

  #abtgrid p{
    font-size: .65em;
    padding-bottom: 1.5%;
  }

  #abtgrid img{
    padding-left: 2%;
    max-width: 100%;
  }

  .modal {
    position: fixed;
    top: 16%;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: black;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }

  .modal.is-visible {
    visibility: visible;
    opacity: 1;
  }

  .modal-dialog {
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    max-height: 80vh;
    border-radius: 5px;
    background: white;
    overflow: auto;
    cursor: default;
  }


}

@media (min-width: 950px) {
  #banner h2{
    font-size: 4em;
    width: 40%;
    position: absolute;
    left: 8%;
    top: 15%;
  }

  #banner h4{
    font-size: 1.4em;
    width: 40%;
    position: absolute;
    left: 8%;
    top: 39%;
  }

  #banner p{
    font-size: .8em;
    width: 40%;
    position: absolute;
    left: 8%;
    top: 55%;
  }

  #abtgrid h2{
    padding-bottom: 1%;
    font-size: 2.1em;
  }

  #abtgrid p{
    font-size: .9em;
    padding-bottom: 1.5%;
  }

  #ourstory h2{
    padding-bottom: 1%;
    font-size: 2.1em;
  }

  #ourstory p{
    font-size: .8em;
  }

  iframe{
    width: 450px;
    height: 300px;
  }

/*pop up*/
  .modal-dialog {
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background: white;
    overflow: auto;
    cursor: default;
  }


}

@media (min-width: 1150px) {

  #banner p{
    font-size: 1em;
    width: 40%;
    position: absolute;
    left: 8%;
    top: 55%;
  }

  #ourstory p{
    font-size: 1.2em;
  }

  #abtgrid p{
    font-size: 1.2em;
    padding-bottom: 1.5%;
  }


  iframe{
    width: 550px;
    height: 300px;
  }
}
